
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {

     background: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg) no-repeat center fixed; 
     background-size: cover;
     font-family: 'Roboto', sans-serif;

}

div{
    max-width: 600px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
}

div{
    
    border-radius: 4%;
    margin: 50px 40px;
    padding: 20px 20px 15px 30px; 

}

p {
    font-weight: 400;
    text-align: left;
    line-height: 1.5; 

}

h1{ font-weight: 700;

}

.button {
    background-color: #DB3030;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}

